<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268597474969-hl4h154ker20njs8nf6tvbfctn6mncv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268597474969-hl4h154ker20njs8nf6tvbfctn6mncv4</string>
	<key>API_KEY</key>
	<string>AIzaSyAiApvqrwkfc6qjI6T3dat-7ATKllNbdCg</string>
	<key>GCM_SENDER_ID</key>
	<string>268597474969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happyPlant.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>happy-plant-542fd</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-plant-542fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268597474969:ios:37876725ee386ad57aea08</string>
</dict>
</plist>